/*
This Style sheet is setting chainging HTML element styles
*/
body{
	margin: 10px;
	font-family: sans-serif;
}
h3{
	color: #444;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
}
h2{
	color: #333;
	text-transform: uppercase;
	letter-spacing: 1px;
}
a{
	text-decoration: none;
}
li{
	list-style-type: none;
	padding: 15px;
	display: inline;
}
ul{
	padding: 0px;
}
nav{
	background-color: white;
}
header{
	position: fixed;
	width: 100%;
	top:0;
	height: 75px;
	background-color: white;	
	display: flex;	
	align-items: center;
	align-content: space-between;

}
main{
	margin: 90px 0px 20px;
	display: flex;
	justify-content: space-between;
}
section{
	padding: 10px;
	background-color: white;
}
aside{
	padding: 10px;
}
footer{
	margin-top: 20px;
	display: flex;
	align-items: : center;
	justify-content: center;
	background-color: #f9f9f9;
}


@media(max-width: 500px) {

	header{
		display: block;	
		height: 290px;
	}
	main{
		margin: 300px 0px 20px;
		display: block;
	}
	nav a{
		display: block;
		text-align: center;
		min-height: 30px;
	}
}
