/*
This file only layout related CSS
*/

.l_container{
	display: flex;
	text-align: left;
}
.l_fifteen_pc{
	width: 15%;	
}
.l_thirty_pc{
	width: 30%;
}
.l_fourty_pc{
	width: 40%;
}
.l_sixty_pc{
	width: 60%;
}
.l_cent_pc{
	width: 100%;
}

@media(max-width: 500px) {

	.l_container{
		display: block;
	}
	.l_fifteen_pc{
		width: 100%;
	}
	.l_thirty_pc{
		width: 100%;
	}
	.l_fourty_pc{
		width: 100%;
	}
	.l_sixty_pc{
		width: 100%;
	}
}
