.logo{
	flex-basis: 20%;
	border-right: 1px solid lightgray;
	text-transform: lowercase;
	color: #444;
	padding-left: 15px;
	font-weight: 1000;
	font-size: 67px;
	letter-spacing: 1px;
	margin: 0px 0px;
}
.nav{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.nav_a{
	color: #444;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.hero{
	margin: 30px, 0px;
	background-color: white;
	padding: 10px;
	text-align: center;
}
.hero_pic{
	width: 70%;
}
.facebook{
	background: url("../img/social-1_logo-facebook.svg") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
}

.evernote{
	background: url("../img/social-1_logo-evernote.svg") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
}
.googleplus{
	background: url("../img/social-1_logo-google-plus.svg") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
}

.instagram{
	background: url("../img/social-1_logo-instagram.svg") no-repeat;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
}
.subtitle{
	color: #444;
	font-weight: 300;
}
.big_subtitle{
	color: #777;
	font-size: 20px;
}
.numbers{
	color: #1abc9c;
    font-size: 45px;
    font-weight: 1000;
    padding: 20px;
}
.learnmore{
	color: #1abc9c;
}
.pie_chart{
	padding:10px;
	margin-top: 30px;
}
@media(max-width: 500px) {

	.numbers{
		display: inline;
	}

	.nav{
		display: block;
		width: 100%;
	}

	.logo{
		width: 100%;
		text-align: center;
	}
	.hero_pic{
		width: 100%;
	}

}