/*
This CSS file has component related styling
*/
.m_toggle_nav_span{
	display: none;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #888;
    margin:3px 0px;
}
.m_toggle_nav_button{
    background-color: white;
    border: 0px;
    margin-right: 25px;
}
.m_logo{
	flex-basis: 20%;
	border-right: 1px solid lightgray;
	text-transform: lowercase;
	color: #444;
	padding-left: 15px;
	font-weight: 1000;
	font-size: 67px;
	letter-spacing: 1px;
	margin: 0px 0px;
}
.m_nav{
	flex-basis: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.m_nav_a{
	color: #444;
	font-weight: 700;
	font-size: 13px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.m_hero{
	margin: 30px, 0px;
	background-color: white;
	padding: 10px;
	text-align: center;
}
.m_hero_pic{
	width: 70%;
}
.m_subtitle{
	color: #444;
	font-weight: 300;
}
.m_big_subtitle{
	color: #777;
	font-size: 20px;
}
.m_numbers{
	color: #1abc9c;
    font-size: 45px;
    font-weight: 1000;
    padding: 20px;
}
.m_learnmore{
	color: #1abc9c;
}
.m_pie_chart{
	padding:10px;
	margin-top: 30px;
}

@media(max-width: 500px) {

	.m_numbers{
		display: inline;
	}

	.m_nav{
		display: none;
		width: 100%;
	}

	.m_logo{
		width: 100%;
		text-align: center;
		padding-left: 0px;
	}
	.m_hero_pic{
		width: 100%;
	}
	.m_toggle_nav_span{
		display: block;
	}
}

@media(max-width: 850px) {

	.m_nav{
		display: none;
		width: 100%;
	}

	.m_toggle_nav_span{
		display: block;
	}
}